@media (360px <=width <=700px){
    li{
        padding:6px;
        font-size: 8px;
        margin: 0px;
    }
    
ul.nav {
    list-style: none;
    display: block;
    padding: 0px;
    margin: 0px;
    background-color: rgb(129, 129, 206);
    font-size: 2vh;
}

div.button{
    position: absolute;
    top: 1%;
    left:10%;
    display: block;
}
#btn1{
    margin: 0px;
    font-size: 6px;
    padding: 3px;
}
#btn2{
    position: absolute;
    top: 110%;
    left: 20%;
    margin: 0px;
    font-size: 6px;
    padding: 3px;
}

h1{
    position: absolute;
    left: 7%;
    top: 8%;
    font-size: 7px;
}

body{margin: 0px;}
}